{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Logs</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'imgs/logo2.png' %}" alt="logo learning logs">
            </a>
        </div>
        <div class="links">
            {% if user.is_authenticated %}
                Olá, {{ user.username }}.
                <a href="{% url 'logout' %}">Terminar sessão</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'registrar' %}">Criar conta</a>
            {% endif %}
        </div>
    </header>
    <nav>
        <a href="{% url 'assuntos' %}">Meus assuntos</a>
        <a href="{% url 'novo_assunto' %}">Novo assunto</a>
    </nav>
    <main>
        {% block conteudo %}{% endblock %}
    </main>
    <footer>
        <p>Site desenvolvido por Andre mahina 😊</p>
        <p>Aprenda e seje mais produtivo</p>
        <p>Todos os direitos reservados a Zurai Corporation Tecnologie &copy;</p>
    </footer>
</body>
</html>